.btn-primary{
  border: 2px solid #f00b08;
  font-size: 18px;
  color: #090909;
  padding: 16px 32px;
  margin: 4px 2px;
  background-color: #f64658;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
}
.btn-primary:hover{
  background-color: #55c388;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
}
p{
  font-weight: bold;
}
li{
  list-style-type: none;
}
