.btn-primary {
  border: 2px solid #140403;
  font-size: 18px;
  color: #090909;
  padding: 16px 32px;
  margin: 4px 2px;
  background-color: #f64658;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  width: 300px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 4px outset black;
}

.btn-primary:hover {
  background-color: #55c388;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #CECBC2;
  background: -moz-linear-gradient(left, #CECBC2 0%, #727272 50%, #7F8282 100%);
  background: -webkit-linear-gradient(left, #CECBC2 0%, #727272 50%, #7F8282 100%);
  background: linear-gradient(to right, #CECBC2 0%, #727272 50%, #7F8282 100%);
}

p {
  font-weight: bold;
}

li {
  list-style-type: none;
}

.list-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
